.chart-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.date-picker-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.react-datepicker-wrapper {
  display: inline-block;
  margin: 0 10px; /* 날짜 선택기 간격 조정 */
}

.react-datepicker__input-container input {
  width: 150px;
  height: 35px;
  padding: 5px;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  background-color: #1C3554;
  transition: border-color 0.3s;
  color : white;
}

.react-datepicker__input-container input:focus {
  border-color: #1C3554;
}

.react-datepicker {
  font-size: 14px;
}

.react-datepicker__header {
  background-color: #1C3554;
  border-bottom: 1px solid #1C3554;
}

.react-datepicker__current-month {
  color: white;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #1C3554;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #1C3554;
  color: white;
}

.react-datepicker__day--keyboard-selected {
  background-color: #1C3554;
  color: white;
}

.chart-detail {
  width: 80%;
  height: 600px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
