#home-container {
    display: flex;
    flex-direction: column;
    color: #1C3554;
    width: 100%;
}

#home-container .background-section {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}

#home-container .title {
    font-size: 8em;
    margin-bottom: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#home-container .subtitle {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FDBD40;
}

#home-container .paragraph {
    font-size: 1.5em;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #1C3554;
}

.section {
    margin: 50px 0;
    text-align: center;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #1C3554;
    text-align: left;
    margin-left: 100px;
}

.second {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #1C3554;
    text-align: left;
    margin-left: 100px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    height: 60vh;
    margin: 20px;
    transition: transform 0.3s, opacity 0.3s;
    position: relative;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    color: #1C3554;
    opacity: 0;
    transition: opacity 0.3s;
}

.card-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1.2em;
    color: #1C3554; 
}

.char {
    display: inline-block;
    transition: transform 0.3s ease;
}

.char:hover {
    transform: scale(1.2);
    color: #FDBD40;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover .card-image {
    opacity: 0.3;
}

.card:hover .card-content {
    opacity: 1;
}

.banner {
    text-align: center;
    padding: 50px 0;
    color: white;
    background-size: cover;
    background-position: center;
}

.banner-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 80px;
}

.banner-text {
    font-size: 1.5em;
    text-align: left;
    margin-left: 80px;
    color: white;
}

.Modal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.Modal__Content {
    position: relative;
    background: #fff;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Modal__Header {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.Modal__Header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.Modal__CloseButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aaa;
    transition: color 0.2s;
}

  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  
  