.new-password-container {
    width: 80%;
    max-width: 700px;
    margin: 100px auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-password-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.new-password-form .new-form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new-password-form label {
    font-weight: bold;
    margin-bottom: 10px;
    width: 60%; /* Same width as input */
}

.new-password-form input {
    width: 60%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px; /* Reduced margin-bottom */
}

.new-password-button {
    width: 60%; /* Same width as input */
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1C3554;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 10px auto; 
}

.new-password-button:hover {
    background-color: #0c1723;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: #1C3554;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 10px;
}