.signup-container {
    width: 80%;
    max-width: 700px;
    margin: 100px auto; 
    padding: 40px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.signup-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.signup-form .form-group {
    margin-bottom: 5px;
}

.signup-form label {
    display: block;
    margin: 20px auto 10px auto;
    font-weight: bold;
    margin-left: 125px;
}


.signup-form input {
    width: 60%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto 30px auto; 
    display: block; 
}

.signup-button {
    width: 65%;
    padding: 15px; 
    border: none;
    border-radius: 5px;
    background-color: #1C3554;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 40px auto;
}

.signup-button:hover {
    background-color: #0c1723;
}

.error-message {
    color: red;
    width: 60%; /* 입력 필드와 동일한 너비 */
    margin: 0 auto 10px auto; /* 중앙 정렬 */
    display: block; /* 블록 요소로 설정 */
}