.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* 높이를 같게 설정 */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.video-player {
  flex: 1;
  margin-right: 20px;
  display: flex; /* 높이를 100%로 설정하기 위해 추가 */
  flex-direction: column; /* 높이를 100%로 설정하기 위해 추가 */
}

.event-logs {
  flex: 1;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; /* 높이를 100%로 설정하기 위해 추가 */
  flex-direction: column; /* 높이를 100%로 설정하기 위해 추가 */
}


.event-logs ul {
  list-style-type: none;
  padding: 0;
}

.event-logs li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.event-logs li p {
  margin: 5px 0;
  color : #1C3554;
  font-size : 16px;
}
