.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.calendar-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 0.8em 1.5em 0.8em 0.9em;
  color: #1A2E49;
  background: transparent; 
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.calendar-button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.calendar-button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.calendar-button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.calendar-button:hover span {
  transform: translateX(7px);
}

.calendar-popup {
  display: flex;
  justify-content: center;
  width: 100%;
}

.react-datepicker {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #2D4A70;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.react-datepicker__day--selected, 
.react-datepicker__day--in-range, 
.react-datepicker__day--keyboard-selected {
  background-color: #2D4A70;
  color: white;
}

.react-datepicker__day--in-selecting-range {
  background-color: #7A91B8;
  color: white;
}
