.date-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.calendar-button {
  background-color: #2D4A70;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 20px;
}


.calendar-button:active {
  background-color: transparent;
}

.calendar-popup {
  display: flex;
  justify-content: center;
  width: 100%;
}

.react-datepicker {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #2D4A70;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.react-datepicker__day--selected, 
.react-datepicker__day--in-range, 
.react-datepicker__day--keyboard-selected {
  background-color: #2D4A70;
  color: white;
}

.react-datepicker__day--in-selecting-range {
  background-color: #7A91B8;
  color: white;
}
