.footer {
  background-color: #1C3554;
  padding: 20px;
  text-align: center;
  position: relative;
  color : #f8f9fa;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content a {
  margin-top: 10px;
  display: inline-block;
}
