.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    color: #fff;
    position: relative; /* 위치 고정 */
    height: 60px; /* 고정 높이 추가 */
}
.navbar-logo {
    flex: 0 0 auto;
    align-items: center;
}

.navbar-logo a {
    font-size: 1.8em;
    font-weight: bold;
    color: #1C3554;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-logo img {
    position: absolute;
    top: -9px;
    left: 14px;
    width: 40px;
    height: auto;
    z-index: 1;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-left: 20px;
    transition: right 0.3s ease-in-out; /* 위치 이동 애니메이션 */
}

.navbar-links {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.navbar-links .centered-image-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links .centered-image {
    width: 30px;
    height: auto;
}

.close-icon {
    display: block; /* 항상 표시되도록 변경 */
}

.navbar-menu.open .close-icon {
    display: block; /* 그대로 유지 */
}

.navbar-links a {
    margin: 0 15px;
    color: #1C3554;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    line-height: 1.5;
}

.navbar-links a:hover {
    color: #3f75b7;
}

.navbar-links a.active {
    color: #3f75b7;
}

.navbar-actions {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.navbar-actions a,
.navbar-actions button {
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    cursor: pointer;
    background-color: #fff;
    align-items: center;
}

.navbar-actions a:hover {
    color: #3f75b7;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: #1C3554;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.hamburger-menu:hover span {
    background: #3f75b7;  /* 변경: color -> background */
}

.hamburger-menu.hidden {
    display: none;
}

@media (max-width: 995px) {
    .hamburger-menu {
        display: flex;
    }

    .navbar-menu {
        position: fixed;
        top: 0; /* 위치 고정 */
        right: -100%;
        height: 100vh;
        width: 250px; /* 넓이 조정 */
        flex-direction: column;
        background-color: #fff;
        padding: 2rem;
        z-index: 9;
    }

    .navbar-menu.open {
        right: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        height: 100vh; /* 고정 높이 */
    }

    .close-icon {
        display: block;
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 1.5em;
        cursor: pointer;
        color: #1e3654;
    }

    .close-icon:hover {
        color: #3f75b7;
    }

    .navbar-links,
    .navbar-actions {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-links a,
    .navbar-actions a,
    .navbar-actions button {
        margin: 10px 0;
        text-align: center;
        width: 100%;
    }

    .navbar-actions {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .navbar-links a,
    .navbar-actions a,
    .navbar-actions button {
        font-size: 14px;
    }

    .navbar-logo a {
        font-size: 1em;
    }

    .navbar-logo img {
        top: -6px;
        left: 10px;
        width: 25px;
    }
}

@media (max-width: 516px) {
    .navbar-links a,
    .navbar-actions a,
    .navbar-actions button {
        font-size: 12px;
        margin: 0 5px; /* 간격 조정 */
    }
    .navbar-logo a {
        font-size: 1em;
    }
}
.navbar .navbar-logo .boda-image {
    width: 90px !important;
    height: auto !important; 
    display: block; 
    margin-top : -10px;
}
