/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.navbar-logo a {
    font-size: 1.5em;
    font-weight: bold;
    color: #1C3554;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-logo img {
    position: absolute;
    top: -9px;
    left: 14px;
    width: 30px;
    height: auto;
    z-index: 1;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    margin: 0 80px;
    color: #1C3554;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 16px; /* Ensure consistent font size */
}

.navbar-actions {
    display: flex;
    align-items: center;
}

.navbar-actions a,
.navbar-actions button {
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px; 
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none; 
    cursor: pointer;
    background-color: #fff; 
}

.navbar-actions a:hover,
.navbar-actions button:hover {
    background-color: #FDBD40;
    color: #1C3554;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-bar input::placeholder {
    color: #bbb;
}

.search-bar button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    color: #bbb;
}

.search-bar button:hover {
    color: #1C3554;
}
