.section-user {
  margin-top : 20px;
  margin-left: 200px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.section-user h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; 
}

.section-user table {
  width: 100%; 
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  overflow: hidden; 
}

.section-user th,
.section-user td {
  padding: 12px; 
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1); 
}

.section-user th {
  font-weight: bold;
  color: #1C3554;
}


.section-user th {
  background-color: #1C3554;
  color: white;
}

.section-user tr:hover {
  background-color: rgba(253, 189, 64, 0.3); 
}
