.comment-section h3 {
    color: #333;
    margin-bottom: 5px;
}

.comment-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment-input-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 1em;
    box-sizing: border-box;
}

.comment-input-container button {
    width: 75px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1C3554;
    color: white;
    cursor: pointer;
    align-self: center;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.comment-input-container button:hover {
    background-color: #0c1723;
}

.no-comments-message{
    margin-bottom : 10px;
}

.comment-item button {
    background-color : transparent;
    border : 1px;
    color : #333;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s ease;
}
.comment-item button:hover {
    background-color : white;
}


.comment-list {
    color: #666;
}

.comment-item {
    border-bottom: 1px solid #eee;
}
