.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.comments-container {
  margin-top: 20px;
  margin-left: 10px;
}

.create-comment-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}

.create-comment-form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  resize: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 100px; /* 높이를 더 길게 설정 */
}

.create-comment-form .submit-comment {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #1C3554;
  font-size: 1rem; 
  line-height: 1;
  border: none;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.comment-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.comment-header {
  display: flex;
}

.comment-header p {
  display: flex;
  margin-right: 13px;
  font-size: 12px; /* 글씨 크기 줄임 */
  color: #888; /* 글씨 색 연하게 */
}

.comment-content {
  margin: 0 0 10px;
  font-size: 14px;
  color: #1C3554;
}

.textarea-inner {
  border: none;
  outline: none;
  padding: 10px; /* padding을 유지하여 모양 동일하게 */
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 100px; /* 높이를 더 길게 설정 */
}

.textarea-inner:focus {
  border-color: #3368a9; /* 어두운 파란색 테두리 */
}

.no-comments-message {
  margin: 0 0 10px;
  font-size: 14px;
  color: #1C3554;
}

.comment-item .delete-icon {
  position: absolute;
  right: 10px;
  top: 10px; /* 댓글창의 오른쪽 상단에 위치 */
  cursor: pointer;
  color: #1C3554;
  font-size: 1.5rem; 
}
